.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    padding-left: 90px;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-logo img {
    height: 30px;
    margin-right: 10px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-language {
    margin-right: 20px;
  }
  
  .navbar-language select {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
  }
  
  .navbar-signin {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .navbar-download-btn {
    background-color: #6c63ff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
  }